* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blue;
  background-image: url(./images/poke.gif);
  background-size: cover;
  background-attachment: fixed;
  color: black;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokepic {
  width: 20rem;
  display: flex;
  align-self: center;
}

.pokebtn {
  border-radius: 50px;
  background: #e0e0e0;
  padding: 1%;
  margin: 1%;
  color: white;
  background-color: #3363af;
  min-width: 100px;
}

.pokemon-pic {
  display: flex;
  justify-content: center;
}

.cardsnbtn {
  display: flex;
  justify-content: center;
}

.card {
  border-radius: 15px;
  background: #f7c503;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 253px;
  max-width: 370px;
}

.card-img {
  width: 100%;
}

.pic {
  width: 60%;
  position: absolute;
  top: 8%;
}

.pokemon-info {
  display: flex;
  justify-content: center;
}

.poke-info {
  position: absolute;
  bottom: 15%;
  width: 80%;
}

.pokemon-list-container {
  width: 50%;
  padding: 5%;
}
